.guest-bg {
    background: url('/public/system-images/bg-image.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.guest-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: '768px') {
    .guest-bg {
        height: 100%;
    }
}